{
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "rules": {
    "max-len": [2, 80, 4, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^\\s*var\\s.+=\\s*require\\s*\\("
    }]
  },
   "env": {
    "jest": true
  }
}
